.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

test/unit/coverage
test/e2e/reports
selenium-debug.log
src/2.js
src/router2.js
src/routerlist.js
src/sec2.js
src/sec.js
config/index.js

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

package-lock.json
config/*
